.result-hotel {
  margin-top: 30px;

  &__tabs {
    &-item {
      text-align: center;
    }

    &-link {
      width: 220px;
      padding: 15px 20px;
      font-size: 15px;
      font-weight: 700;
      color: #2a2a2e;

      &.nav-link {
        border-radius: 0;

        &:hover {
          color: #75a8f9;
          border-color: transparent;
        }
      }

      .nav-tabs &.active {
        border-top: 5px solid #5392f9;
        background: #fff;
        color: #5392f9;
        border-left: 1px solid #dddfe2;
        border-right: 1px solid #5392f9;
      }
    }

  }

  &__wrapper {
    margin-top: 30px;

    &-link {
      color: #3c3c3c;

      &:hover {
        color: #3c3c3c;
        text-decoration: none;
      }
    }
  }

  &__suggest {
    border-color: #24457c;
    background-color: #24457c;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
  }

  &__content {
    border: 1px solid #24457c;
    display: flex;

    &-image {
      width: 30%;

      img {
        height: 182px;
        width: 100%;
      }
    }

    &-thumnail-item {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 1px;
      margin-bottom: 1px;
    }

    &-detail {
      width: 50%;
      padding: 20px;
      border-right: 1px solid #dddfe2;
    }

    &-price {
      width: 20%;
      text-align: right;
      padding-right: 10px;
    }
  }
}