.result-hotel {
  margin-top: 30px;

  &__tabs {
    &-item {
      text-align: center;

      &:first-child {
        margin-left: 10px;
      }
    }

    &-link {
      width: 220px;
      padding: 15px 20px;
      font-size: 15px;
      font-weight: 700;
      color: #2a2a2e;

      &.nav-link {
        border-radius: 0;

        &:hover {
          color: #75a8f9;
          border-color: transparent;
        }
      }

      .nav-tabs &.active {
        border-top: 5px solid #5392f9;
        background: #fff;
        color: #5392f9;
        border-left: 1px solid #dddfe2;
        border-right: 1px solid #5392f9;
      }
    }

  }

  &__wrapper {
    margin-top: 30px;
    display: flex;

    &-content {
      width: 75%;
    }

    &-link {
      color: #3c3c3c;

      &:hover {
        color: #3c3c3c;
        text-decoration: none;
      }
    }

    &-map {
      width: 25%;
      padding-right: 20px;
    }
  }

  &__suggest {
    border-color: #24457c;
    background-color: #24457c;
    color: #fff;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
  }

  &__content {
    border: 1px solid #24457c;
    display: flex;
    margin-bottom: 20px;

    &-image {
      width: 249px;

      img {
        height: 182px;
        width: 100%;
      }
    }

    &-thumnail-item {
      width: 49px;
      height: 40px;
      float: left;
      margin-right: 1px;
      margin-bottom: 1px;

      &:nth-child(5) {
        margin-right: 0;
      }

      &:nth-child(10) {
        margin-right: 0;
      }
    }

    &-detail {
      width: 50%;
      padding: 20px;
      border-right: 1px solid #dddfe2;

      &__name-hotel {
        font-size: 16px;
        line-height: 1;
        font-weight: 700;

        &:hover {
          color: #00adff;
          text-decoration: underline;
        }
      }

      &__location {
        font-size: 14px;

        &-badge {
          padding: 5px 10px;
          font-weight: 400;
          background: linear-gradient(90deg, #ff567d, #fe9a8b);
          margin-right: 6px;
          font-size: 12px;
          font-weight: 700;
        }

        &-apartment {
          font-size: 12px;
          font-weight: 700;

          &:hover {
            color: #5392f9;
          }
        }
      }

      &__stars {

        span:first-child {
          margin-right: 10px;
        }

        span:last-child {
          color: #488bf8;
          font-size: 12px;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
          }

          .fa-street-view {
            font-size: 14px;
          }
        }

        .fa-star {
          color: #ff567d;
          margin-right: 2px;
        }
      }

      &__rate {
        margin-bottom: 5px;

        span {
          font-size: 12px;
          padding: 3px 7px;
          border: 1px solid;
          border-radius: 2px;
          font-weight: 700;
        }
      }

      &__service {
        margin-bottom: 5px;

        span {
          font-size: 12px;
          padding: 3px 7px;
          border: 1px solid #32a923;
          border-radius: 2px;
          font-weight: 700;
          margin-right: 5px;
          color: #32a923;
        }
      }

      &__card {
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: 700;

        .fa-credit-card {
          font-size: 16px;
          margin-right: 5px;
        }
      }

      &__guest-recommnended {
        margin-bottom: 5px;

        .fa-users {
          margin-right: 5px;
          font-size: 16px;
        }

        font-size: 12px;
        font-weight: 700;
        color: #8660c7;
      }

      &__selling {
        margin-bottom: 15px;

        span:last-child {
          color: #e12d2d;
          font-size: 13px;
        }

        &-badge {
          padding: 5px 10px;
          border-radius: 2px;
          font-weight: 400;
          background: #e12d2d;
          margin-right: 6px;
          font-size: 10px;
          font-weight: 700;
        }
      }

      &__discount {
        font-size: 12px;
        font-weight: 700;
        color: #28871c;

        &-text {
          padding: 2px 16px 2px 8px;
          margin-right: 3px;
          border: 1px dashed #28871c;
          border-right: none;
          background-color: #d8eed5;
          position: relative;

          &:after {
            display: inline-block;
            content: "";
            background-color: #fff;
            height: 11px;
            width: 11px;
            position: absolute;
            top: 4px;
            border: 1px dashed #28871c;
            right: -4px;
            border-right: none;
            border-top: none;
            transform: rotate(45deg) skew(15deg, 15deg);
          }
        }
      }
    }

    &-price {
      width: calc(50% - 249px);
      text-align: right;
      padding-right: 10px;
      padding-top: 20px;

      &__review {
        display: flex;
        margin-bottom: 90px;

        &-text {
          width: 60%;

          span:first-child {
            font-size: 14px;
            line-height: 12px;
            color: #333;
          }

          span:last-child {
            font-size: 12px;
            color: #777;
          }
        }

        &-score {
          width: 40%;
          background-image: url('/assets/message-icon.png');
          position: relative;

          img {
            width: 60px;
            height: 50px;
          }

          span {
            position: absolute;
            top: 10px;
            right: 13px;
            color: #FFFFFF;
            font-weight: 700;
          }
        }
      }

      &__ribbon {
        background: #e12d2d;
        padding: 4px 6px;
        text-align: center;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
        margin-right: -20px;
      }

      &__discount {
        background: #d8eed5;
        display: inline-block;
        font-size: 10px;
        line-height: 12px;
        font-weight: 700;
        text-align: center;
        margin-right: -20px;
        color: #28871c;
        padding: 4px 10px;
        border-radius: 2px;
      }

      &__room-rate {
        margin-top: 10px;

        p {
          font-size: 10px;
          color: #737373;
          margin-bottom: 5px;
        }

        .old-price {
          color: #737373;
          font-size: 22px;
          line-height: 22px;
          font-weight: 700;
          position: relative;
          margin-bottom: 5px;

          &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 50%;
            transform: rotate(-10deg);
            border-top: 1px solid #737373;
          }
        }

        .new-price {
          color: #000;
          font-size: 22px;
          line-height: 22px;
          font-weight: 700;
        }
      }

      &__benefit {
        color: #28871c;
        font-size: 11px;
        font-weight: 700;
      }
    }
  }
}