.header {
  &__navbar {
    padding: 10px 16px;

    .navbar-brand {
      margin-right: 40px;

      .agoda-logo {
        width: 98px;
        height: 40px;
      }
    }

    &-nav {
      border-left: 1px solid #EEE;

      .nav-item {
        .nav-link {
          color: #666;
          margin: 0 10px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 14px;
          padding-right: 0;

          &:hover {
            color: #488bf8;
          }

          &:focus {
            color: #488bf8;
          }
        }

        & .header__currency {
          font-weight: 400;
          font-size: 13px;
          color: #333;
          border-right: 1px solid #EEE;
          padding-right: 25px;

          &:hover {
            color: #333;
          }
        }

        & .header__login {
          text-transform: uppercase;
          color: #488bf8;
          font-size: 16px;
        }
      }

      & .header__sinup {
        text-transform: uppercase;
        background-color: transparent;
        color: rgb(83, 146, 249);
        position: relative;
        z-index: 0;
        border-color: rgb(83, 146, 249);
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        border-radius: 3px;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 5%;
          padding-top: 5%;
          transform: translate(-50%, -50%) scale(0);
          opacity: 0;
          background: rgb(83, 146, 249);
          border-radius: 50%;
          transition: transform 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
        }

        &:hover:before {
          opacity: 1;
          transform: translate(-50%, -50%) scale(32);
        }

        &:hover {
          color: #FFFFFF;
        }

        span {
          position: relative;
          z-index: 2;
        }
      }

      &:last-child {
        align-items: center;
        border-left: none;
      }
    }
  }

  &-funnel {
    background: #704dff;

    &__content {
      padding: 5px 0 5px 0;
      display: flex;
      align-items: center;

      img {
        width: 50px;
        margin-right: 15px
      }

      &-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        color: #FFFFFF;
      }

      &-description {
        color: #fff;
        font-size: 16px;
      }

      &-login {
        width: 34%;
        text-align: right;

        button {
          padding: 10px 20px;
          background-color: #FFFFFF;
          color: #000000;
          font-size: 14px;
          border: 1px solid #000000;
          font-weight: 600;
          padding: 8px 85px;

          &:hover {
            color: #fff;
            background-color: #4b4f56;
            border: 1px solid #4b4f56;
          }
        }
      }
    }
  }
}